body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background: #202731;
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 300px;
	padding: 100px;
}

section h1 {
	font-size: 48px;
}

section p {
	text-align: center;
	font-size: 24px;
}

footer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 200px;
	padding: 100px 20vh;
}

footer h1 {
	font-size: 48px;
}

a {
	color: white;
	text-decoration: none;
}

@media only screen and (max-width: 768px) {
	section { padding: 5px 20px; }
	section h1 { font-size: 24px; }
	section p { font-size: 12px; }
	footer { padding: 5px 20px; }
	footer h1 { font-size: 24px; }
	.typeflex { padding-top: 150px;	}
	.socials-grid img { width: 50px; height: auto; }
	.spacer { transform: scale(1, 1.05)}
}

@media only screen and (max-width: 360px) {
	body { width: fit-content; }
}

.blue {
	background: #3c31dd;
}
.red {
	background: #dd3f31;
}
.pink {
	background: #ff0066;
}
.dark {
	background: #202731;
}
.turquoise { 
	background: #00A9A5;
}
.white {
	background: #EBEBEB;
	color: #000000;
}

.python {
	background: #306998;
}
.java {
	background: #dd3f31;
}
.javascript {
	background: #FFB33B;
}

.typeflex {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	height: 40vh;
}

.typewriter {
	justify-content: center;
	display: inline-block;
	margin: auto;
}

.typewriter h1 {
	font-family: "monospace";
	overflow: hidden;
	border-right: 0.15em solid orange;
	white-space: nowrap;
	margin: 0 auto;
	animation:
		typing 3.5s steps(19, end),
		blink-caret 0.75s step-end infinite;
}

.typewriter p {
	opacity: 0%;
	animation: subtitle 2s ease forwards;
	animation-delay: 4s;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: black; }
}

@keyframes subtitle {
	from { opacity: 0%; }
	to { opacity: 100%; }
}

.spacer {
	aspect-ratio: 1920/500;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.flip {
	transform: rotate(180deg);
}

.white-blue {
	background-image: url('../resources/svg/white-blue.svg');
}

.blue-pink {
	background-image: url('../resources/svg/blue-pink.svg');
}

.pink-dark {
	background-image: url('../resources/svg/pink-dark.svg');
}

.dark-red {
	background-image: url('../resources/svg/dark-red.svg');
}

.dark-turquoise {
	background-image: url('../resources/svg/dark-turquoise.svg');
}

.image-grid {
	display: grid;
	gap: 15px;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	width: 100%;
}

.image-grid img {
	width: 100%;
	border-radius: 10px;
}

.tall {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	height: 100%;
}
.short {
	grid-column: 2 / 3;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
	width: 100%;
}

.grid-card {
	height: 100px;
	padding: 20px;
	margin: 5px;
	border-radius: 10px;
	border: 3px solid #202731;
	box-shadow: 0 4px 8px 0 rgba(55, 55, 55, 1);
	transition: 0.3s;
}
.grid-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	transform: scale(1.05);
}

.socials-wrapper {
	display: flex;
	flex-direction: row;
}

.socials-wrapper img {
	width: 10vh;
	height: auto;
	padding: 10px;
}

.socials-wrapper a {
	transition: 0.3s;
}
.socials-wrapper a:hover {
	transform: scale(1.05);
}